version: '3.9'

services:

  nestjs-app:
    container_name: nestjs-app
    image: user/nestjsapp:1.0.0
    build: .
    env_file:
      - ./.env
    ports:
      - '3001:3001'
    environment:
      - DB_TYPE=postgres
      - PG_HOST=postgres
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=postgres
      - PG_PORT=5432
      - EMAIL=${EMAIL}
      - PASS=${PASS}
      - EMAIL_JS_SERVICE_ID=${EMAIL_JS_SERVICE_ID}
      - EMAIL_JS_TEMPLATE_ID=${EMAIL_JS_TEMPLATE_ID}
      - EMAIL_JS_PUBLIC_KEY=${EMAIL_JS_PUBLIC_KEY}
      - EMAIL_JS_PRIVATE_KEY=${EMAIL_JS_PRIVATE_KEY}
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:12
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}